# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak

# Default output folder (optional, keep test images clean)
/stripped/*
!/stripped/.gitkeep
